.navbarContainer {

    
    
}
.loginContainer{
    display:flex;
    justify-content : flex-end;
    
}
.searchContainer{
    display:flex;
    justify-content : flex-end;
    
}
.imageContainer{
    display:flex;
    justify-content : center;
    
}
.menuContainer{
    display:flex;
    justify-content : center;
    
}
.login {
    cursor:pointer;
    margin-top : 50px;
    margin-right: 10px;
}